---
import { Image } from "astro:assets";
import Link from "../ui/Link.astro";
import { getLaunchById } from "../../services/api";
import { type Launch } from "../../types/api/api-launches";

interface Props {
  launch?: Launch;
  id?: string;
}
const { launch: launchProp, id } = Astro.props;

let launch: Launch = null;

if (launchProp) {
  launch = launchProp;
} else if (id) {
  launch = await getLaunchById(id);
}
const details = launch.details ? launch.details : "No description available";
const formatedDetails = details.slice(-1) !== "." ? `${details}.` : details;
---

<div class="flex flex-col justify-between md:flex-row my-8 items-center">
  <div class="md:w-2/3">
    <h3
      class="text-xl px-4 md:text-2xl md:px-8 text-center font-semibold text-white"
    >
      Description:
      <span class="text-lg md:text-xl text-slate-200">
        {formatedDetails}
      </span>
    </h3>
    <div
      class="min-w-full flex sm:flex-row flex-wrap items-center gap-6 justify-around my-8"
    >
      <div class="mt-2">
        <h3 class="text-xl md:text-2xl font-semibold text-white mb-2">
          - Information:
        </h3>
        <ul class="list-disc text-white">
          <li class="text-lg font-semibold">
            Flight number: <span class="text-slate-200"
              >{launch.flight_number}</span
            >
          </li>
          <li class="text-lg font-semibold">
            Flight date: <span class="text-slate-200"
              >{new Date(launch?.date_utc).toLocaleDateString()}</span
            >
          </li>
          <li class="text-lg font-semibold">
            Static fire: <span class="text-slate-200"
              >{
                new Date(launch?.static_fire_date_utc).toLocaleDateString()
              }</span
            >
          </li>
          <li class="text-lg font-semibold">
            Status: {
              launch.success ? (
                <span class="text-green-500 font-bold">Exitoso</span>
              ) : (
                <span class="text-red-500 font-bold">Fallido</span>
              )
            }
          </li>
        </ul>
      </div>
      <div class="mt-2">
        <h3 class="text-xl md:text-2xl font-semibold text-white mb-2">
          - Bibliography:
        </h3>
        <ul class="list-disc text-white">
          <li>
            <Link to={launch.links.webcast}>Watch launch</Link>
          </li>
          <li>
            <Link to={launch.links.article}> See article </Link>
          </li>
          <li>
            <Link to={launch.links.wikipedia}> See wikipedia </Link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-64 md:w-1/3 p-12">
    <Image
      transition:name=`img-launch-${launch.id}`
      height={500}
      width={500}
      src={launch.links.patch.small}
      alt={`Logo del lanzamiento ${launch.name}`}
      class="w-full h-auto"
    />
  </div>
</div>
