---
import LaunchCard from "../cards/LaunchCard.astro";
import { getLaunches } from "../../services/api";

//const { page } = Astro.props;

const { docs: list, page, totalPages } = await getLaunches();
---

<div class="mt-4">
  <h3 class="text-lg text-white text-center my-1">
    Loaded pages: {page} / {totalPages}
  </h3>

  <div
    class="w-full px-8 flex flex-col flex-wrap gap-8 sm:flex-row justify-evenly items-center"
  >
    {
      list.map((rocket) => (
        <LaunchCard
          key={rocket.id}
          id={rocket.id}
          img={rocket.links.patch.small}
          name={rocket.name}
          launch_date_utc={rocket.date_utc}
          launch_success={rocket.success}
        />
      ))
    }
  </div>
</div>
