---
interface Props {
  id: string;
  name: string;
  img: string;
  first_flight: String;
  active: boolean;
}

const { id, name, img, first_flight, active } = Astro.props;
---

<li class="link-card">
  <a href={`/rockets/${id}`} class="card-link">
    <img class="card-image" src={img} alt={name} />
    <h2
      class="absolute top-2 left-2 text-xl p-2 rounded-lg mx-auto bg-black bg-opacity-40 text-white bg-accent"
    >
      {name}
    </h2>
    <p
      class="absolute top-2 right-2 text-sm p-2 rounded-lg mx-auto bg-black bg-opacity-40 text-white"
    >
      {first_flight}
    </p>
    <div class="status">
      {active ? <p class="success">Active</p> : <p class="failure">Inactive</p>}
    </div>
  </a>
</li>

<style>
  .link-card {
    list-style: none;
    width: 25%;
    height: fit-content;
    padding: 6px;
    background-color: #334155;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(21, 20, 20, 0.538);
  }

  .card-link {
    text-decoration: none;
    position: relative;
    display: block;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .card-image {
    width: 100%;
    margin: auto;
    object-fit: cover;
  }

  .status {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  .success {
    background-color: green;
    color: white;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 18px;
  }

  .failure {
    background-color: red;
    color: white;
    border-radius: 50px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 18px;
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-orange-white);
  }

  .link-card:is(:hover, :focus-within) .bg-accent {
    color: var(--accent-orange);
  }
  
  @media (max-width: 768px) {
    .link-card {
      width: 45%; /* Ajusta el ancho de la tarjeta para dispositivos medianos */
    }
  }
  @media (max-width: 480px) {
    .link-card {
      width: 100%; /* Ocupa todo el ancho en dispositivos pequeños */
    }
    .status{
      bottom: 0;
      right: 10px;
      top: 10px;
      padding: 4px, 8px;
    }
    .success{
      font-size: 1em;
    }
    .failure{
      font-size: 1em;
    }
  }
</style>
