---
import Layout from "../../layouts/Layout.astro";
import SectionPage from "../../components/ui/SectionPage.astro";
import Gallery from "../../components/gallery/Gallery";
import { type Launch } from "../../types/api/api-launches";
import { type Rocket } from "../../types/api/api-rocket";
import { getLaunchById, getRocketById } from "../../services/api";
import LaunchDetails from "../../components/details/LaunchDetails.astro";
import RocketDetails from "../../components/details/RocketDetails.astro";
import { getStaticRoutesForLaunches } from "../../services/getStaticRoutes";

const { id } = Astro.params;
let launch: Launch = null;
let rocket: Rocket = null;
if (id) {
  launch = await getLaunchById(id);
  rocket = await getRocketById(launch.rocket);
}

export async function getStaticPaths() {
  return await getStaticRoutesForLaunches();
}
---

<Layout title={`Launch ${launch?.name}`}>
  <SectionPage
    title="Launch details"
    accentTitle={launch?.name}
    toBack="/launches"
    gradientColor="deep-blue"
  />
  <div class="container mx-auto py-8 px-4 flex flex-col">
    <LaunchDetails launch={launch} />
    <RocketDetails rocket={rocket} />
    <h3 class="text-2xl font-semibold text-white ml-8 mb-4">
      - Rocket gallery
    </h3>
    <Gallery images={rocket.flickr_images} client:idle />
  </div>
</Layout>
